## 데이터셋

### 다운로드

1) 작업디렉토리 생성

    $ mkdir -p ~/aiffel/recommendata_iu/data

2) wget으로 데이터 다운로드 (주의) 오래걸립니다.   

    $ wget http://mtg.upf.edu/static/datasets/last.fm/lastfm-dataset-360K.tar.gz

3) 다운받은 데이터를 작업디렉토리로 이동    

    $ mv lastfm-dataset-360K.tar.gz ~/aiffel/recommendata_iu/data

4) gzip으로 압축된 압축을 해제하면 tar 파일이 하나 나옵니다.   

    $ gunzip lastfm-dataset-360K.tar.gz

5) tar 압축을 다시 해제하면 우리가 사용할 최종 데이터 파일이 나옵니다.    

    $ tar -xvf lastfm-dataset-360K.tar

6) 필요 라이브러리 설치   

    $ pip install implicit
    
4), 5)는 다음에 나오는 한 줄로 가능

    $ tar -xvzf lastfm-dataset-360K.tar.gz

### 열기

#### code

    $ more ~/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv

#### tsv
- Tab-Separated Values
- \t을 구분자로 사용
- pandas의 read-csv로도 가능

#### 데이터 설명
    File usersha1-artmbid-artname-plays.tsv:
      user-mboxsha1 \t musicbrainz-artist-id \t artist-name \t plays

    File usersha1-profile.tsv:
      user-mboxsha1 \t gender (m|f|empty) \t age (int|empty) \t country (str|empty) \t signup (date|empty)

#### pandas로 open

In [1]:
import pandas as pd
import os
fname = '/home/aiffel0049/aiffel/Exploration/7.recommendation/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play'] # 컬럼명 임의로 지정
data = pd.read_csv(fname, sep='\t', names=col_names)
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

## 데이터 전처리

### 사용하는 컬럼만 남기기

In [2]:
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

### 아티스트 문자열 -> 소문자

In [3]:
data['artist'] = data['artist'].str.lower() # 검색을 쉼게 하기 위함
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

### 첫 번째 유저가 듣는 아티스트와 노래

In [4]:
condition = data['user_id'] == data.loc[0, 'user_id']
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

## 데이터 탐색

### 유저수

In [5]:
data['user_id'].nunique()

358868

### 아티스트 수

In [6]:
data['artist'].nunique()

291346

### 인기많은 아티스트

In [7]:
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

### 유저별로 듣는 아티스트 수

In [8]:
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

### 유저별 play 횟수 중앙값에 대한 통계

In [9]:
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

## 모델 검증

### 사용자 초기 정보 설정

In [10]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

### 데이터 전처리

In [11]:
# 고유한 유저, 아티스트 찾아냄
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing하는 코드
# 유저명, 아티스트명 = key, idx = value인 dict 생성
# idx = index의 약자
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [12]:
# 인덱싱 확인
print(user_to_idx['zimin'])  # 358869명 유저중 맨 마지막으로 추가되었음
print(artist_to_idx['black eyed peas'])

358868
376

In [13]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.
# Series.map 함수는 https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html를 참조

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):
    print('user_id column indexing OK')
    data['user_id'] = temp_user_data
else:
    print('user_id column indexing Fail')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail')

data

user_id column indexing OK
artist column indexing OK

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

### 암시적 데이터 : 데이터셋에서 1회만 플레이한 데이터의 비율

In [14]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data  = len(only_one), len(data)
# f-format에 대한 설명은 https://bit.ly/2DTLqYU
print(f'{one}, {all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')

147740, 17535660
Ratio of only_one over all data is 0.84%

규칙
- 한 번이라도 들었으면 선호한다고 판단한다.
- 많이 재생한 아티스트에 대해 가중치를 주어서 더 확실히 좋아한다고 판단한다.

### CSR matrix 만들기

- csr_matrix((data, (row_ind, col_ind)), [shape=(M, N)])  
- where data, row_ind and col_ind satisfy the relationship a[row_ind[k], col_ind[k]] = data[k].
- M,N은 matrix의 shape

In [15]:
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()
print(type(data))

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape=(num_user, num_artist))
csr_data

<class 'pandas.core.frame.DataFrame'>

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

## MF 모델 학습
### implicit 패키지 import
- https://github.com/benfred/implicit
- implicit 패키지 : 암묵적 데이터셋을 사용하는 모델을 빠르게 학습
- 행렬 분해(matrix factorization)로 쪼개진 두 행렬을 한번에 훈련하면 잘 수렴하지 않음
- 한쪽을 고정시키고 다른 쪽을 학습한 뒤, 반대로 한번 더 진행 하는 AlternatingLeastSquares 방식이 효과적

In [16]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

### \_\_init\_\_의 파라미터
- factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
- regularization : 과적합 방지를 위한 정규화 값
- use_gpu : GPU 사용 여부
- iterations : epochs과 같은 의미

In [17]:
# AlternatingLeastSquares 모델 선언

als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [18]:
# als 모델은 input으로 (item X user) 형태로 받음. transpose 필요
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

### 학습

In [19]:
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

### 추가한 데이터의 확인
- 추가한 벡터와 black eyed peas의 벡터가 어떻게 되었는지
- 두 벡터를 곱한 결과는?

In [20]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

In [21]:
zimin_vector

array([ 0.61331564, -0.92128694, -0.03555133,  1.4919559 ,  0.4654565 ,
        0.38134164,  0.45576102,  0.26950294, -0.0300121 , -0.741457  ,
        0.08496781,  0.97575104,  1.0035563 , -1.3324242 ,  0.06436325,
        1.1277862 ,  0.04729883,  0.49642456, -0.07514489,  1.3207735 ,
       -0.7180773 , -0.33025056,  0.7364374 , -0.00342314, -0.2055592 ,
        0.05793933, -1.279313  , -0.45649517, -0.0071638 , -1.6930841 ,
        0.08972947, -1.0308033 ,  0.56070536,  0.13006799,  0.09287529,
        0.49763668, -0.41925296,  0.0914721 , -0.99157804,  0.45031664,
        0.30371273,  0.10546558,  0.6030007 ,  0.01984162,  0.05667875,
       -0.13354656, -0.31915542,  0.8903481 ,  0.49199224,  0.5664004 ,
       -0.8256602 ,  0.34053355,  0.8748066 , -0.1781754 , -0.15888841,
       -0.8669697 ,  0.5601259 , -1.10612   ,  0.18942666, -0.3370152 ,
       -0.52864057, -0.975161  ,  0.06581052, -0.03442827,  0.00550794,
       -0.62556416, -0.8243709 ,  0.00613127,  1.1246679 ,  1.3724108 ,
       -0.22126503, -0.4193043 , -0.3331426 ,  0.15505938, -0.32877898,
        0.84499454, -0.5778688 , -0.8781121 , -0.9465584 , -0.52639526,
        0.26071677, -0.5612799 ,  0.4725235 , -0.04775044, -0.09724181,
       -1.1749376 , -0.39410385,  0.58998656, -1.127341  ,  0.14366996,
        1.6773998 ,  0.07270683,  0.41610354,  1.7257435 ,  1.4503012 ,
        0.71359366,  0.00798592, -0.19889896,  0.6812169 , -0.01593069],
      dtype=float32)

In [22]:
black_eyed_peas_vector

array([-3.01393378e-03, -2.13361308e-02,  6.09775167e-03,  2.68063117e-02,
        1.14923175e-02,  9.87290498e-03,  8.30515940e-03,  1.13696977e-02,
       -1.19162705e-02,  9.35556088e-03,  5.58377057e-03,  8.07308126e-03,
        1.35456361e-02, -1.50266197e-02,  1.30740954e-02,  1.20124035e-02,
        1.16265099e-03,  1.27967400e-03,  6.36062678e-03,  2.27993689e-02,
       -1.09138815e-02, -5.11831138e-03,  2.80828159e-02,  1.21043148e-02,
        8.43260437e-03,  1.01063261e-02,  3.73371551e-03,  8.91357195e-05,
        7.80388666e-03, -2.56288387e-02,  1.47393951e-02, -9.78551689e-04,
        1.43620912e-02, -2.87064421e-03,  8.83191451e-03,  9.61959083e-03,
        2.12006364e-02,  1.38642425e-02, -7.37702986e-03,  1.25095872e-02,
        1.76675189e-02,  1.93084348e-02,  7.82296993e-03, -7.34736532e-05,
        1.14325006e-02,  3.36838583e-03,  6.33276941e-04,  1.67437233e-02,
        1.62380356e-02,  1.32803852e-02, -1.21167619e-02, -6.53511612e-04,
        1.86082516e-02,  8.97887279e-04,  6.45446358e-03, -1.97487045e-03,
        1.19562168e-02, -1.56918187e-02,  1.39336511e-02, -2.95934011e-03,
        1.46197444e-02, -2.48660985e-03,  2.42620386e-04,  1.23829860e-02,
        1.40757132e-02,  1.21085020e-02,  1.51436795e-02,  9.61171836e-03,
        2.08237376e-02,  2.25063823e-02,  2.83888336e-02,  2.27878056e-03,
        1.96745247e-02,  1.27047347e-02, -3.00878915e-03,  1.22870458e-02,
        1.15116032e-04, -1.87691581e-02, -2.50604446e-03,  1.70825911e-03,
       -6.83062884e-04, -6.51049754e-03,  1.55837694e-02, -4.60791448e-03,
        1.22783836e-02,  8.32768437e-03,  1.23121552e-02,  1.08346445e-02,
        5.49621042e-03,  6.49798196e-03,  2.67669503e-02,  3.38695291e-03,
        5.94028179e-03,  2.25707870e-02,  1.67791191e-02,  2.67450120e-02,
        1.27523718e-02, -4.29360755e-03,  1.99360158e-02,  1.26140285e-02],
      dtype=float32)

In [23]:
# zimin, black eyed peas를 내적 -> 선호도 출력
np.dot(zimin_vector, black_eyed_peas_vector)

0.52573776

In [24]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.3259876

- 도메인 지식에 따라 결정되므로, 좋은 결과인지 아닌지는 알 수 없다

## 비슷한 artist 찾기

In [25]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 0.12333716),
 (277, 0.12174474),
 (28, 0.12091217),
 (5, 0.12040248),
 (217, 0.12006935),
 (490, 0.11976725),
 (473, 0.1196575),
 (247, 0.118889436),
 (418, 0.117956564),
 (910, 0.11735828),
 (782, 0.11715599),
 (694, 0.11712856),
 (1018, 0.11648479),
 (268, 0.116112135),
 (55, 0.115345016)]

- (아티스트 idx, 유사도) Tuple

In [26]:
idx_to_artist = {v:k for k, v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'oasis',
 'placebo',
 'the beatles',
 'u2',
 'nirvana',
 'the white stripes',
 'foo fighters',
 'the smashing pumpkins',
 'pink floyd',
 'arctic monkeys']

In [27]:
idx_to_artist = {v:k for k, v in artist_to_idx.items()}
def get_similar_artist(artist_name:str):
    artist_id = artist_to_idx[artist_name]   # 찾고자 하는 artist의 idx를 저장
    similar_artist = als_model.similar_items(artist_id, N=15)   # artist idx로 유사한 artist의 idx 받기
    similar_artist = [(idx_to_artist[i[0]], i[1]) for i in similar_artist]  # similar_artist의 idx를 name으로 mapping
    return similar_artist

In [28]:
get_similar_artist('2pac')

[('2pac', 0.120994724),
 ('notorious b.i.g.', 0.10324156),
 ('jay-z', 0.1012656),
 ('nas', 0.10046012),
 ('the game', 0.10039931),
 ('dr. dre', 0.09831119),
 ('50 cent', 0.09379477),
 ('snoop dogg', 0.092422634),
 ('bone thugs-n-harmony', 0.090502046),
 ('common', 0.09037508),
 ('dmx', 0.08987991),
 ('mobb deep', 0.0895467),
 ('gang starr', 0.08942339),
 ('ice cube', 0.088229045),
 ('ludacris', 0.08805571)]

- 힙합은 마니아들이 많아서 잘 추천되는 것으로 생각됨

In [29]:
get_similar_artist('lady gaga')

[('lady gaga', 0.11554383),
 ('britney spears', 0.10874938),
 ('rihanna', 0.10581195),
 ('katy perry', 0.105151884),
 ('the pussycat dolls', 0.09882354),
 ('beyoncé', 0.09860383),
 ('christina aguilera', 0.094121344),
 ('leona lewis', 0.09385476),
 ('kelly clarkson', 0.09070548),
 ('mariah carey', 0.08950765),
 ('pink', 0.08628853),
 ('kylie minogue', 0.08507691),
 ('madonna', 0.08444018),
 ('justin timberlake', 0.08435752),
 ('gwen stefani', 0.08383366)]

- lady gaga의 경우 여성 artist를 추천 잘해줌

## 추천받기
### recommend : user에게 맞는 값을 추천
- filter_already_liked_items = True : 유저가 이미 평가한 아이템은 제외함

In [30]:
user = user_to_idx['zimin']
# recommend함수는 user * item CSR Matrix를 받음
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.4425392),
 (627, 0.4420399),
 (369, 0.43770283),
 (550, 0.42232156),
 (274, 0.41285905),
 (354, 0.40156388),
 (2249, 0.3985418),
 (355, 0.39852828),
 (1800, 0.39709997),
 (901, 0.3947577),
 (391, 0.39006922),
 (409, 0.3845806),
 (24, 0.37890482),
 (618, 0.3624422),
 (5555, 0.3575566),
 (564, 0.35714895),
 (621, 0.35705262),
 (247, 0.3569615),
 (382, 0.35411605),
 (5, 0.34943044)]

In [31]:
[(idx_to_artist[i[0]], i[1]) for i in artist_recommended]

[('rihanna', 0.4425392),
 ('maroon 5', 0.4420399),
 ('justin timberlake', 0.43770283),
 ('britney spears', 0.42232156),
 ('michael jackson', 0.41285905),
 ('nelly furtado', 0.40156388),
 ('katy perry', 0.3985418),
 ('madonna', 0.39852828),
 ('lady gaga', 0.39709997),
 ('pink', 0.3947577),
 ('christina aguilera', 0.39006922),
 ('amy winehouse', 0.3845806),
 ('jack johnson', 0.37890482),
 ('the pussycat dolls', 0.3624422),
 ('timbaland', 0.3575566),
 ('kanye west', 0.35714895),
 ('alicia keys', 0.35705262),
 ('the beatles', 0.3569615),
 ('mika', 0.35411605),
 ('red hot chili peppers', 0.34943044)]

### 추천에 기여한 정도
- explain()

In [32]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)
explain

(0.4442615947501634,
 [(396, 0.22758099947472024),
  (376, 0.11590917731265386),
  (62, 0.05705090681158753),
  (3746, 0.043931537074439087),
  (270115, -0.00021102592323736367)],
 (array([[3.08936262, 2.31391939, 2.87939744, ..., 2.20987554, 2.32392745,
          2.18439739],
         [7.14853606, 1.14682992, 0.5104162 , ..., 0.45865907, 0.46052773,
          0.44388181],
         [8.89550282, 7.24805412, 1.18192162, ..., 0.3390006 , 0.35249643,
          0.37325064],
         ...,
         [6.82710688, 5.63947778, 6.99788912, ..., 0.83639849, 0.02102916,
          0.01144284],
         [7.1794546 , 5.90552775, 7.3431947 , ..., 5.68212885, 0.84553513,
          0.07541959],
         [6.74839565, 5.56357641, 6.95746572, ..., 5.38251569, 5.73191594,
          0.85124459]]),
  False))

- 추천한 콘텐츠의 점수에 기여한 다른 콘텐츠 및 기여도(기여도의 합 = 콘텐츠 점수)를 return

In [33]:
[(idx_to_artist[i[0]], i[j]) for i in explain[1]]

[('beyoncé', 0.22758099947472024),
 ('black eyed peas', 0.11590917731265386),
 ('coldplay', 0.05705090681158753),
 ('jason mraz', 0.043931537074439087),
 ('maroon5', -0.00021102592323736367)]

- maroon5는 이미 평가한 item인데 기여도에 포함됨
- bug

- 추천시스템 평가방법   
https://danthetech.netlify.app/DataScience/evaluation-metrics-for-recommendation-system